<!DOCTYPE html>
<html>

<head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/dist/semantic.min.js"></script>
  <script src="/static/js/dropzone.min.js"></script>
  <script src="/static/js/toastr.min.js"></script>
  <script src="/static/js/utils.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/dist/semantic.min.css"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/toastr.min.css"></script>
  <title>ACES Chat</title>
</head>

<body>

<form id="dropzone" class="dropzone" style="border:1px solid rgba(0,0,0,0.03); min-height:240px; -webkit-border-radius: 3px; border-radius:3px; background: rgba(0,0,0,0.03); padding: 23px; position: relative; cursor:pointer" action="/upload/">
  <div class="dz-default">
    <div class="dz-default dz-message" style="text-align:center">
      <h2 class="ui icon header" style="margin-top:30px" id="uploadMessage">
        <i class="upload icon"></i>
        <div class="content"> 
          Drag your files here to upload <div class="sub header">(Or click to select files)</div>
        </div>
      </h2>
      <div class="ui icon positive message" id="successMessage" style="display:none; margin-top: 70px; text-align: left">
        <i class="checkmark icon"></i>
        <div class="content">
          <div class="header">Success</div>
          <p> File uploaded. Drag another file or click here to upload again. </p>
        </div>
      </div>
      <div class="ui icon negative message" id="failMessage" style="display:none; margin-top: 70px; text-align: left">
        <i class="remove icon"></i>
        <div class="content">
          <div class="header">Failure</div>
          <p> We could not upload your file.</p>
        </div>
      </div>
    </div>
  </div> 
</form>
 
</body>

</html>
